<h1 class="mb-4">SELAMAT DATANG</h1>
<h3>Halo <%= nama %></h3>

<h4 class="mt-4">Daftar Mahasiswa</h4>
<% if (mahasiswa.length === 0) { %>
  <p>Data Masih Kosong</p>
<% } else { %>
  <table class="table table-bordered mt-2">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% mahasiswa.forEach(mhs => { %>
        <tr>
          <td><%= mhs.nama %></td>
          <td><%= mhs.email %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
